<h1>Pages#contact</h1>

<p><%= number_to_phone "7777777777" %></p>

<p><%= number_to_currency "15077" %></p>

<p><%= number_to_percentage "15.4" %></p>

<p><%= number_with_delimiter "1234567890" %></p>